

[title="Calgary"]	{
    cursor:	help;
    text-decoration:	none;
    padding-bottom:	3px;
    border-bottom:	2px	dotted	blue;
}


[title*="Calgary"]	{
    cursor:	pointer;
    text-decoration:	none;
    padding-bottom:	3px;
    border-bottom:	2px	dotted	blue;
}